body {
    background-color: #ffc482;
}

ul {
    background-color: #b3af8f;
}

/* Grouped Selector */
h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

h1 {
    color: rgb(43, 58, 108);
    letter-spacing: 1px;
}

p{
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 58, 108);
}

/* Descendant selector */
footer p{
    font-size: .75rem;
}
footer a {
    text-decoration: none;
}

/* Dependent Class */
.heading{
    letter-spacing: 1px;
    
}

/* Independent class */
h1.heading{
    background-color: skyblue;
    
}